# Connection string to the postgres database.
# Must be set to run tests with sqlx.
DATABASE_URL=postgres://localhost:5432/postgres

# Phoenixd must be running to test
PHOENIXD_API_URL=http://localhost:9740
PHOENIXD_API_PASSWORD=a1fabd1a106e7283a1e5b6e4f0dd58a67905cde51297465c7bf3658317d14eef