RUST_LOG=debug

# Connection string to the postgres database. Database must be created beforehand.
HG_DATABASE_URL=postgres://localhost:5432/pubky_homegate

# Http server socket address
HG_HTTP_LISTEN_SOCKET=127.0.0.1:5000

# Prelude.so API key
HG_PRELUDE_API_KEY=

# Prelude API URL (optional, defaults to https://api.prelude.dev)
# HG_PRELUDE_API_URL=https://api.prelude.dev

# Homeserver's exposed admin server url
HG_HOMESERVER_ADMIN_API_URL=https://admin.homeserver.staging.pubky.app

# Homeserver's admin server's password
HG_HOMESERVER_ADMIN_PASSWORD=admin

# Homeserver's pubky 
HG_HOMESERVER_PUBKY=ufibwbmed6jeq9k4p583go95wofakh9fwpp4k734trq79pd9u1uy

# SMS verification limits (optional, defaults to 2 per week, 4 per year)
# HG_MAX_SMS_VERIFICATIONS_PER_WEEK=2
# HG_MAX_SMS_VERIFICATIONS_PER_YEAR=4

# Wether to allow CORS https://developer.mozilla.org/en-US/docs/Web/HTTP/Guides/CORS
# This is useful for local development so browsers don't reject requests because homegate is hosted on another domain.
# HG_ALLOW_CORS=false