RUST_LOG=debug
# Connection string to the postgres database. Database must be created beforehand.
DATABASE_URL=postgres://localhost:5432/pubky_homegate
# Http server socket address
HG_HTTP_LISTEN_SOCKET=127.0.0.1:5000
# Prelude.so API key
HG_PRELUDE_API_KEY=
# Homeserver admin API URL
HG_HOMESERVER_API_URL=http://127.0.0.1:6288
# Homeserver admin password
HG_HOMESERVER_ADMIN_PASSWORD=admin
